.button {
    box-sizing: border-box;
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    width: 90%;
    min-width: 150px;
    max-width: 250px;
    padding: 10px 1px;
    border-radius: 15px;

    transition-duration: .5s;
}

.buttonPrimary {
    color: white;
    background-color: var(--color-primary);
    border: 2px solid #7d99da;
}

.buttonPrimary:hover {
    color: #000000;
    background-color: #F1BA06;
    border: 2px solid #ffffff3c;
}

.buttonSecondary {
    color: #ffffff;
    background-color: var(--color-secondary);
    border: 2px solid #ffffff3c;
}

.buttonSecondary:hover {
    color: white;
    background-color: #294B98;
    border: 2px solid #7d99da;
}
.buttonSecondaryGreen {
    width: 100%;
    color: #ffffff;
    background-color: #14EFA5;
    border: 2px solid #ffffff3c;
}



.miniButtonPrimary {
    padding: 2px;

    min-width: 80px;
    max-width: 80px;
    color: white;
    background-color: var(--color-primary);
    border: 2px solid #7d99da;
}

.miniButtonPrimary:hover {
    color: #000000;
    background-color: #F1BA06;
    border: 2px solid #ffffff3c;
}

.miniButtonSecondary {
    padding: 2px;
    min-width: 110px;
    max-width: 110px;
    color: #ffffff;
    background-color: var(--color-secondary);
    border: 2px solid #ffffff3c;
}

.miniButtonSecondary:hover {
    color: white;
    background-color: #294B98;
    border: 2px solid #7d99da;
}
.miniButtonSecondaryGreen {
    padding: 2px;
    min-width: 110px;
    max-width: 110px;
    width: 100%;
    color: #ffffff;
    background-color: #14EFA5;
    border: 2px solid #ffffff3c;
}


